<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <mvc:component-scan base-package="xyz.thishome" use-default-filters="false">
        <mvc:include-filter type="annotation" expression="org.springframework.stereotype.Controller"></mvc:include-filter>
    </mvc:component-scan>
    <bean id="person1" class="xyz.thishome.bean.Person">
        <property name="name" value="小红"></property>
        <property name="age" value="18"></property>
    </bean>
</beans>