<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
            <!--配置数据库连接的基本属性-->
        <property name="connection.username">root</property>
        <property name="connection.password">123456</property>
        <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/hibernate-1</property>

        <!--配置hibernate所使用的的数据库方言，这里使用mysql-->
        <property name="dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
        <!--执行操作时是否在控制台打印sql-->
        <property name="show_sql">true</property>
        <!--是否对SQL进行格式化-->
        <property name="format_sql">true</property>
        <!--指定生成数据库表策略，一共有四种取值-->
        <property name="hbm2ddl.auto">update</property>
        <!--删除对象后，使其OID置空-->
        <property name="use_identifier_rollback">true</property>

        <!--指定mapper配置文件-->
        <mapping resource="News.hbm.xml"/>
    </session-factory>
</hibernate-configuration>